{% extends 'admin/admin.html' %}
{% block content %}
    <!--内容-->
    <section class="content-header">
        <h1>微电影管理系统</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 电影管理</a></li>
            <li class="active">编辑电影</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">编辑电影</h3>
                    </div>
                    <form method="post" enctype="multipart/form-data"
                          action="{{ url_for('admin.movie_edit',id=movie.id) }}">
                        <div class="box-body">
                            {% for msg in get_flashed_messages(category_filter=["ok"]) %}
                                <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                    </button>
                                    <h4><i class="icon fa fa-check"></i> 修改电影成功！</h4>
                                    {{ msg }}
                                </div>
                            {% endfor %}
                            {% for msg in get_flashed_messages(category_filter=["err"]) %}
                                <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                    </button>
                                    <h4><i class="icon fa fa-ban"></i> 修改电影失败！</h4>
                                    {{ msg }}
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <label for="input_title">片名</label>
                                <input type="text" class="form-control" value="{{ movie.title }}" name="input_title"
                                       placeholder="请输入片名！" required>
                            </div>
                            <div class="form-group">
                                <label for="input_url">文件</label>
                                <input type="file" name="input_url" value="{{ movie.url }}">
                                <div style="margin-top:5px;">
                                    <div id="moviecontainer"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input_info">介绍</label>
                                <textarea class="form-control" rows="10" name="input_info"
                                >{{ movie.info }}</textarea>
                            </div>
                            <div class="form-group">
                                <label for="input_logo">封面</label>
                                <input type="file" name="input_logo">
                                <img src="{{ url_for('static', filename='upload/logo/'+ movie.logo ) }}"
                                     style="margin-top:5px;width: 300px;height: 300px" class="img-responsive"
                                     alt="">
                            </div>
                            <div class="form-group">
                                <label for="input_star">星级</label>
                                <select class="form-control" name="input_star">
                                    {% for v in range(1,6) %}
                                        {% if movie.star == v %}
                                            <option value="{{ v }}" selected>{{ v }}星</option>
                                        {% else %}
                                            <option value="{{ v }}">{{ v }}星</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="input_tag_id">标签</label>
                                <select class="form-control" name="input_tag_id">
                                    {% for tag in tags %}
                                        {% if tag.id == movie.tag_id %}
                                            <option value="{{ tag.id }}" selected>{{ tag.name }}</option>
                                        {% else %}
                                            <option value="{{ tag.id }}">{{ tag.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="input_area">地区</label>
                                <input type="text" class="form-control" name="input_area" placeholder="请输入地区！" required
                                       value="{{ movie.area }}">
                            </div>
                            <div class="form-group">
                                <label for="input_length">片长</label>
                                <input type="text" class="form-control" name="input_length" placeholder="请输入片长！"
                                       value="{{ movie.alength }}" required>
                            </div>
                            <div class="form-group">
                                <label for="input_release_time">上映时间</label>
                                <input type="text" class="form-control" name="input_release_time"
                                       placeholder="请选择上映时间！" value="{{ movie.release_time }}">
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">编辑</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--内容-->

{% endblock %}

{% block js %}
    <!--播放页面-->
    <script src="{{ url_for('static',filename='jwplayer/jwplayer.js') }}"></script>
    <script type="text/javascript">
        jwplayer.key = "P9VTqT/X6TSP4gi/hy1wy23BivBhjdzVjMeOaQ==";

    </script>
    <script type="text/javascript">
        jwplayer("moviecontainer").setup({
            flashplayer: "{{ url_for('static',filename='jwplayer/jwplayer.flash.swf') }}",
            playlist: [{
                file:"{{ url_for('static',filename='upload/video/' + movie.url) }}",
                title: "{{ movie.title }}"
            }],
            modes: [{
                type: "html5"
            }, {
                type: "flash",
                src: "{{ url_for('static',filename='jwplayer/jwplayer.flash.swf') }}"
            }, {
                type: "download"
            }],
            skin: {
                name: "vapor"
            },
            "playlist.position": "left",
            "playlist.size": 200,
            height: 250,
            width: 387,
        });

    </script>
    <script>
        $(document).ready(function () {
            $('#input_release_time').datepicker({
                autoclose: true,
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
            });
        });

    </script>

    <script>
        $(function () {
            $("#g-3").addClass('active');
            $("#g-3-1").addClass('active')
        })
    </script>
{% endblock %}